# general properties

#Long - apple database identifier
app.id=1

# hibernate properties

#Boolean - set true if using sqlite
is.sqlite=true

#String - url for database
hibernate.connection.url=jdbc:sqlite:/path/to/db/db.sqlite

#String - sql model construction mode
hibernate.hbm2ddl.auto=update